<header
  class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 border-bottom bg-white fixed-top shadow-sm"
>
  <img
    src="/assets/images/logo.png"
    alt="logo"
    style="max-height: 70px"
    class="logo"
    routerLink="/"
  />
  <nav class="my-2 text-uppercase fs-5">
    <a
      class="p-2"
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="p-2" routerLinkActive="active" routerLink="/shop">Shop</a>
    <a
      class="p-2"
      routerLinkActive="active"
      routerLink="/contact"
      [routerLinkActiveOptions]="{ exact: true }"
      >Contact</a
    >
    <a class="p-2" routerLink="test-error" routerLinkActive="active">Test</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div
        *ngIf="basketService.basketSource$ | async as basket"
        class="cart-no"
      >
        {{ getCount(basket.items) }}
      </div>
    </a>
    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary me-2"
        >Login</a
      >
      <a routerLink="/account/register" class="btn btn-outline-secondary me-3"
        >Sign up</a
      >
    </ng-container>

    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          <strong> Welcome {{ user.displayName }} </strong>
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/basket">
              <i class="fa fa-shopping-cart me-3"></i> View Basket
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/orders">
              <i class="fa fa-history me-3"></i> View Orders
            </a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="accountService.logout()"
            >
              <i class="fa fa-sign-out me-3"></i> Sign out
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</header>
